* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Oswald", sans-serif;
}


nav {
    text-transform: uppercase;
    color: var(--colorText);
    background: var(--colorNav);
    font-size: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_bar {
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 20px;
    align-items: center;
}



.nav_links a{
    text-decoration: none;
    color: var(--colorText);
}
.nav_links button {
    background: none;
    border: none;
}

.nav_links button img{
    height: 40px;
    transition: all .3s ease;

}
.nav_links button img:hover {
    transform: scale(1.1);
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 8px);
}

nav .contact {
    background: var(--white);
    border-radius: 25px;
    padding: 5px 10px;
    transition: all .3s ease;
}
nav .contact:hover {
    transform: scale(1.1);
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 4px 8px);
}



/* Animation nav */
.link_other_page a {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.link_other_page a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--colorTextNavHover);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-out;
}

.link_other_page a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.link_other_page a:hover {
    color: var(--colorTextNavHover); /* couleur au survol */
}





footer {
    background: var(--colorFooter);
    width: 100%;
    padding: 0px 20px;
    bottom: 0;
}

footer .logo_reseaux img{
    height: 50px;
    border-radius: 10px;
    margin: 10px 5px;
    transition: all .3s;
}

footer .logo_reseaux img:hover {
    transform: scale(1.2);
}


.footerContacts {
    display:inline-block;
    color: var(--white);
    margin: 20px;
}

.footerContacts .contacts {
    list-style: none;
}
.footerContacts .contacts .contact, .footerContacts .contacts .contact a {
    text-decoration: none;
    color: var(--white);
}




.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    background: none;
    border: none;
    cursor: pointer;
    margin: 20px;
}

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: var(--colorText);
    border-radius: 10px;
}




.voile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.lightbox {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%; 
    width: 100px;
    height: 200px;
    background: var(--white);
    border: solid 1px black;
    z-index: 0;
}

.active {
    display: block;
}

@media only screen and
(max-width : 600px) and 
(orientation : portrait) {
    .hamburger {
        display: flex;
    }

    .nav_bar1, .nav_bar2 {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--colorNav);
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 10;
        padding: 10px 0;
    }


    .nav_bar1.active, .nav_bar2.active {
        display: flex;

    }

    .nav_links {
        text-align: left;
        padding: 10px 0;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

}