.div_portrait {
    padding: 0;
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.voile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    display: none;
}

.lighb